section(class=addTasks)
	.container
		div(class=addTasksWrapper)
			div(class=addTasksInner)
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Аудит имеющегося сайта
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Разработка фирменного стиля
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Перенос сайта
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Разработка логотипа
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Отрисовка иллюстраций
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Создание презентаций
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Создание Emai рассылок
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Администри-рование сайта
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")
				div(class=addTasksCard)
					h2(class=titleDefault__H2) Реализация одного из этапов разработки
					div(class=addTasksCardImage)
						img(src="/images/content/3.png", alt="")

