section(class=ClassVariantsSitesSection+ " lazy_content")
	div(class='variantSection-wrapper' + ' lazy_content')
		h2(class=titleDefault__H2) Виды сайтов
		div(class=ClassStepsWorkingSectionWrapper)
			div(class=ClassStepsWorkingSectionWrapper1 id='stepsWorkingSectionWrapper1')

				div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block')
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Лендинг
								br
								ul(class=ClassStepsWorkingSectionText)
									li создан, чтобы продавать
									li финальный этап воронки
				div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block')
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Сайт—визитка
								ul(class=ClassStepsWorkingSectionText)
									li повышает уровень доверия
									li быстрый старт
				div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block')
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Многостраничник
								ul(class=ClassStepsWorkingSectionText)
									li закрывает все возражения и вопросы клиентов
									li идеален для продвижения
				div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block' id='stepsWorkingLastBlock')
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Интернет—каталог
								ul(class=ClassStepsWorkingSectionText)
									li демонстрация товара и ценовой политики
									li персонализированный подход к каждому клиенту