section(class=ClassStepsWorkingSection)
    .container
        div(class=ClassStepsWorkingSectionWrapper)
            h2(class=titleDefault__H2)
                |  Этапы сотрудничества с
                span(class=ClassStepsWorkingSectionSpan)
                    |   easeweb
            div(class=ClassStepsWorkingSectionInner)
                div(class=ClassStepsWorkingSectionLine)
                    div(class=ClassStepsWorkingSectionLineActive)
                        div(class=ClassStepsWorkingSectionLineCircle)
                            span 1
                div(class=ClassStepsWorkingSectionStep)
                    p(class=ClassStepsWorkingSectionTitle) Бриф
                    p(class=ClassStepsWorkingSectionText) Время реализации: 1 day
                    p(class=ClassStepsWorkingSectionText)
                        |С тобой общается менеджер проекта и узнает, какой сайт нужен. Конультирует по реализации проекта, составляет стратегию и техническое задание.
