section(class=ClassStepsWorkingSection id=stepsWorking__ID)
	.container
		div(class=ClassStepsWorkingSectionWrapper)
			h2(class=titleDefault__H2)
				|  Этапы сотрудничества с
				span(class=ClassStepsWorkingSectionSpan)
					|   easeweb
			div(class=ClassStepsWorkingSectionWrapper1 id='stepsWorkingSectionWrapper1')

				div(class=ClassStepsWorkingSectionStepBlock)
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionLine)
							div(class=ClassStepsWorkingSectionLineActive)
								div(class=ClassStepsWorkingSectionLineCircle)
									div
										span 1
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionText1)
								div
									p Время реализации: 1 day
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Бриф
								p(class=ClassStepsWorkingSectionText)
									|	С тобой общается менеджер проекта и узнает, какой сайт нужен. Конультирует по реализации проекта, составляет стратегию и техническое задание.
				div(class=ClassStepsWorkingSectionStepBlock)
					div(class=ClassStepsWorkingSectionInner)
						div(class=ClassStepsWorkingSectionLine)
							div(class=ClassStepsWorkingSectionLineActive)
								div(class=ClassStepsWorkingSectionLineCircle)
									div
										span 2
						div(class=ClassStepsWorkingSectionStep)
							div(class=ClassStepsWorkingSectionText1)
								div
									p Время реализации: 1 day
							div(class=ClassStepsWorkingSectionBlock)
								p(class=ClassStepsWorkingSectionTitle) Бриф
								p(class=ClassStepsWorkingSectionText)
									|	С тобой общается менеджер проекта и узнает, какой сайт нужен. Конультирует по реализации проекта, составляет стратегию и техническое задание.
