div(class=ClassPopupCall id=popupCall__mainID)
	.container
		div(class=ClassPopupCallBtnWrapper)
			button(class=ClassCallButtonClose type=button id=popupCallButtonCLoseID)
				span Закрыть
		form(action='php/form.php' name=popupCallName method=get class=ClasspopupCallForm id=popupCallID)
			div(class=ClassPopupCall__wrapper)
				div(class='inputs')
					input(type="text", placeholder='Name', name='username', value='' required)
					input(type="tel", placeholder='Telephone', name='userphone', value='' required)
				div(class='politeCheckboxWrapper')
					input(type="checkbox", name='polite', id='politeCheckbox' required)
					label(class='labelCallPopupCheckbox', name='polite', for="politeCheckbox")
					div(class='polite-p-wrapper')
						p я прочитал и согласен с &nbsp
						a(href='../pages/polite.html') политикой конфиденциальности


				div(class='wrapperButton')
					if callPopup
						include ../../blocks/formButton