if mainPage
	div(class=ClassTarifsHelpSection__imageWrapper)
		img(class=ClassTarifsHelpSection__image src="/images/content/logoGif.gif", alt='image-logo-easeweb')
if seoPage
	div(class=ClassTarifsHelpSection__imageWrapper)
		img(class=ClassTarifsHelpSection__image src="/images/content/planesky.gif", alt="image")
if developPage
	div(class=ClassTarifsHelpSection__imageWrapper)
		img(class=ClassTarifsHelpSection__image src="/images/content/webdemo.gif", alt="image")
if addTasksPage
	div(class=ClassTarifsHelpSection__imageWrapper)
		img(class=ClassTarifsHelpSection__image src="/images/content/comments.gif", alt="image")