if developPage
	section(class='lazy_contentSection ' +ClassTarifsHelpSection)
		.container
			div(class=ClassTarifsHelpSectionWrapper+ " lazy_content")
				div(class=ClassTarifsHelpSectionInner)
					h2(class=titleDefault__H2+' developPageTarifHelp-h2')
						|   Реализуем любую идею
						br
						|   или техническое задание
					include image

if seoPage
	section(class='lazy_contentSection ' +ClassTarifsHelpSection)
		.container
			div(class=ClassTarifsHelpSectionWrapper+ " lazy_content")
				div(class=ClassTarifsHelpSectionInner)
					h2(class=titleDefault__H2+' developPageTarifHelp-h2')
						|   Продвижение сайтов —
						br
						|   с оплатой за результат
					include image

if addTasksPage
	section(class='lazy_contentSection ' +ClassTarifsHelpSection)
		.container
			div(class=ClassTarifsHelpSectionWrapper+ " lazy_content")
				div(class=ClassTarifsHelpSectionInner)
					div(class=ClassTarifsHelpSection__titleWrapper)
						h2(class=ClassTarifsHelpSection__title+' developPageTarifHelp-h2')
							|   Доверьте работу команде
							br
							|   профессионалов
						div(class=ClassTarifsHelpSection__titleInner)
							p Экономите свой бюджет
							br
							p Тратите меньше времени
							br
							p Надежнее, чем несколько разноплановых фрилансеров
						include image