section(class=ClassTarifsHelpSection)
	.container
		div(class=ClassTarifsHelpSectionWrapper)
			div(class=ClassTarifsHelpSectionInner)
				h2(class=titleDefault__H2)
					|   Реализуем любую идею или
					br
					|   техническое задание
				div(class=ClassTarifsHelpSection__imageWrapper)
					img(class=ClassTarifsHelpSection__image src="/images/content/3.png", alt="image")