section(class=seoPriceSection)
	.container
		div(class=seoPriceSectionWrapper)
			h2(class=titleDefault__H2)
				|	Стоимость work
			div(class=seoPriceSectionInner)
				div(class=seoPriceSection__Card)
					span Тариф 1
					ul
						li Рекламная кампания на поиске Google или Яндекс
						li До 200 ключевых запросов
						li Бесплатное ведение кампании 7 рабочих дней.
					span Срок настройки: 2 рабочих дня
					p 3500 руб.
				div(class=seoPriceSection__Card)
					span Тариф 2
					ul
						li Рекламная кампания на поиске Google или Яндекс
						li До 200 ключевых запросов
						li Бесплатное ведение кампании 7 рабочих дней.
					span Срок настройки: 2 рабочих дня
					p 3500 руб.
				div(class=seoPriceSection__Card)
					span Тариф 3 &nbsp;
						span pro
					ul
						li Рекламная кампания на поиске Google или Яндекс
						li До 200 ключевых запросов
						li Бесплатное ведение кампании 7 рабочих дней.
					span Срок настройки: 2 рабочих дня
					p 3500 руб.
			p — цена указана за разовую настройку, дальнейшее ведение проекта — 5000 руб. в месяц