section(class=helpersSection)
	.container
		div(class=helpersSectionWrapper)
			h2(class=titleDefault__H2+ ' ' + ClasshelpersSection__title+ ' ' +colorTextBlack)
				span= 'easeweb'
				span(class=ClasshelpersSection__h2__span3)= ' поможет'
			div(class=ClasshelpersSectionInner)
				div(class=ClasshelpersSectionCard)
					h2(class=titleDefault__H2)
						|	Продвижение<br />
						|	сайта
					p(class=ClassParagraphBase)
						|	Увеличение конверсии <br />
						|	и продвижение с нуля
					include ../../blocks/button
				div(class=ClasshelpersSectionCard)
					h2(class=titleDefault__H2)
						|	Разработка<br />
						|	сайта
					p(class=ClassParagraphBase)
						|	Создание надежной <br />
						|	и продающей платформы
					include ../../blocks/button
				div(class=ClasshelpersSectionCard)
					h2(class=titleDefault__H2)
						|	Доп.<br />
						|	задачи
					p(class=ClassParagraphBase)
						|	Дорабоки и расширение <br />
						|	функционала сайтов
					include ../../blocks/button
					