section(class='lazy_contentSection ' +ClassIntegrationSection id='integration')
    .container
        div(class=ClassIntegrationSectionWrapper+ " lazy_content")
            h2(class=titleDefault__H2)
                span(class=ClassIntegrationSectionSpan) easeweb
                |   интегрирует сайт
                |
                span(class=ClassIntegrationSectionSpan) with
            div(class=ClassIntegrationSectionInner)
                span(class=ClassIntegrationSectionTitles id='integrationTitle1')= 'Google Analytics '
                span(class=ClassIntegrationSectionTitles id='integrationTitle2')= 'Яндекс.Метрикой '
                br
                span(class=ClassIntegrationSectionTitles id='integrationTitle3')= 'Google Search Console '
                span(class=ClassIntegrationSectionTitles id='integrationTitle4')= 'Яндекс Вебмастер '
                br
                span(class=ClassIntegrationSectionTitles id='integrationTitle5')= 'Сервисом рассылок '
                span(class=ClassIntegrationSectionTitles id='integrationTitle6')= 'CRM системой '
                span(class=ClassIntegrationSectionTitles id='integrationTitle7')= 'Онлайн—кассой'