section(class=ClassIntegrationSection id='integration')
	.container
		div(class=ClassIntegrationSectionWrapper)
			h2(class=titleDefault__H2)
				span(class=ClassIntegrationSectionSpan) easeweb
				|   интегрирует сайт
				|	with
			div(class=ClassIntegrationSectionInner)
				div(class='integration-line')
					span(class='integration-line__string') Google Analytics Яндекс.Метрикой
				div(class='integration-line')
					span(class='integration-line__string') Google Search Console Яндекс Вебмастер
				div(class='integration-line')
					span(class='integration-line__string') Сервисом рассылок CRM системой Онлайн—кассой