section(class=ClassIntegrationSection)
    .container
        div(class=ClassIntegrationSectionWrapper)
            h2(class=titleDefault__H2)
                span(class=ClassIntegrationSectionSpan) easeweb
                |   интегрирует сайт
                |
                span(class=ClassIntegrationSectionSpan) with
            div(class=ClassIntegrationSectionInner)
                span(class=ClassIntegrationSectionTitles)= 'Google Analytics '
                span(class=ClassIntegrationSectionTitles)= 'Яндекс.Метрикой '
                br
                span(class=ClassIntegrationSectionTitles)= 'Google Search Console '
                span(class=ClassIntegrationSectionTitles)= 'Яндекс Вебмастер '
                br
                span(class=ClassIntegrationSectionTitles)= 'Сервисом рассылок '
                span(class=ClassIntegrationSectionTitles)= 'CRM системой '
                span(class=ClassIntegrationSectionTitles)= 'Онлайн—кассой'