form(class=MainForm id=MainFormID name=MainFormName action=MainFormPHP method=get)
	div(class=ClassMainForm__Wrapper)
		p(class=ClassMainForm__title)
			| Обсудить проект со специалистом
		div(class=ClassMainForm__Inner)
			div(class='inputs')
				input(type="text" placeholder='Name' name='name' value='' required)
				input(type="tel" placeholder='Telephone' name='telephone' value='' required)
			div(class="wrapperButtons")
				div(class=ClassMainForm__selectBlock id=MainFormSelectID)
					button(type='button' class='js-select-btn' aria-label='Выбрать вид услуги' required)
					select(class='js-select-list')
						option(class='js-select-option' value="value1") Консультация
						option(class='js-select-option' value="value2") Разработка сайта
						option(class='js-select-option' value="value3") Продвижение сайта
						option(class='js-select-option' value="value4") Редизайн
						option(class='js-select-option' value="value5") Другое
				div(class='wrapperButton')
					include ../../blocks/formButton
