div(id=mainFormShape)
if mainPage
	section(class=mainForm__Section id='contacts')
		.container
			div(class=mainForm__Section__Wrapper)
				include form
else
	section(class=mainForm__Section+' seoAdd', id='contacts')
		.container
			div(class=mainForm__Section__Wrapper)
				include form