div(class=classSliderMainSlide)
	div(class=classSliderMainSlideWrapper)
		div(class=classSliderMainSlideInner)
			div(class=ClassStepsWorkingSectionStepBlock)
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionLine)
						div(class=ClassStepsWorkingSectionLineActive)
							div(class=ClassStepsWorkingSectionLineCircle)
								div
									span 2
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionText1)
							div
								p Время реализации: от 2х дней
						div(class=ClassStepsWorkingSectionBlock)
							p(class=ClassStepsWorkingSectionTitle) Верстка
							p(class=ClassStepsWorkingSectionText)
								|	Основную часть сайтов EASEWEB пишет при помоще кода — это самый оптимальный вариант, так же можешь выбрать конструктор Tilda или WordPress