div(class=classSliderMainSlide)
	div(class=classSliderMainSlideWrapper)
		div(class=classSliderMainSlideInner)
			div(class=ClassStepsWorkingSectionStepBlock)
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionLine)
						div(class=ClassStepsWorkingSectionLineActive)
							div(class=ClassStepsWorkingSectionLineCircle)
								div
									span 4
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionText1)
							div
								p Время реализации: 1—2 дня
						div(class=ClassStepsWorkingSectionBlock)
							p(class=ClassStepsWorkingSectionTitle) Прототип
							p(class=ClassStepsWorkingSectionText)
								|	UX/UI специалист продумывает структуру будущего сайта и составляет подробный макет, который ты утверждаешь