div(class=classSliderMainSlide)
	div(class=classSliderMainSlideWrapper)
		div(class=classSliderMainSlideInner)
			div(class=ClassStepsWorkingSectionStepBlock)
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionLine)
						div(class=ClassStepsWorkingSectionLineActive)
							div(class=ClassStepsWorkingSectionLineCircle)
								div
									span 2
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionText1)
							div
								p Время реализации: 2 дня
						div(class=ClassStepsWorkingSectionBlock)
							p(class=ClassStepsWorkingSectionTitle) Дизайн—макет
							p(class=ClassStepsWorkingSectionText)
								|	Составляется на основе анализа аудитории, трендов современного визуала и твоих пожеланиях. Представляется на утверждение в виде мобильной версии(от 320px) и десткопа(от 1024px).