div(class=classSliderMainSlide)
	div(class=classSliderMainSlideWrapper)
		div(class=classSliderMainSlideInner)
			div(class=ClassStepsWorkingSectionStepBlock id="stepsWorkingLastBlock")
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionLine)
						div(class=ClassStepsWorkingSectionLineActive)
							div(class=ClassStepsWorkingSectionLineCircle)
								div
									span 5
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionText1)
							div
								p Время реализации: от 1го дня
						div(class=ClassStepsWorkingSectionBlock)
							p(class=ClassStepsWorkingSectionTitle) Дополнительно
							p(class=ClassStepsWorkingSectionText)
								|	SEO—настройка, создание Email рассылок, подключение сторонних сервисов и т.д. Подробнее ознакомься на странице "Дополнительных задачи"