div(class=classSliderMainSlide+' swiper-main-card3')
	div(class=classSliderMainSlideWrapper)
		div(class=ClassVariantsSitesSection__Card)
			div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block')
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionBlock + ' variantSection-block1 variantSection-block3')
							p(class=ClassStepsWorkingSectionTitle + ' variantsSection__title') Многостраничник
							ul(class=ClassStepsWorkingSectionText)
								li закрывает все возражения и вопросы клиентов
								li идеален для продвижения