div(class=classSliderMainSlide+' swiper-main-card1')
	div(class=classSliderMainSlideWrapper)
		div(class=ClassVariantsSitesSection__Card)
			div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block')
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionBlock + ' variantSection-block1')
							p(class=ClassStepsWorkingSectionTitle + ' variantsSection__title') Лендинг
							ul(class=ClassStepsWorkingSectionText)
								li создан, чтобы продавать
								li финальный этап воронки