div(class=classSliderMainSlide+' swiper-main-card2')
	div(class=classSliderMainSlideWrapper)
		div(class=ClassVariantsSitesSection__Card)
			div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block')
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionBlock + ' variantSection-block1 variantSection-block2')
							p(class=ClassStepsWorkingSectionTitle + ' variantsSection__title') Сайт—визитка
							ul(class=ClassStepsWorkingSectionText)
								li повышает уровень доверия
								li быстрый старт
