div(class=classSliderMainSlide+' swiper-main-card4')
	div(class=classSliderMainSlideWrapper)
		div(class=ClassVariantsSitesSection__Card)
			div(class=ClassStepsWorkingSectionStepBlock + ' variantSection-block' id='stepsWorkingLastBlock')
				div(class=ClassStepsWorkingSectionInner)
					div(class=ClassStepsWorkingSectionStep)
						div(class=ClassStepsWorkingSectionBlock + ' variantSection-block1 variantSection-block4')
							p(class=ClassStepsWorkingSectionTitle + ' variantsSection__title') Интернет—каталог
							ul(class=ClassStepsWorkingSectionText)
								li демонстрация товара и ценовой политики
								li персонализированный подход к каждому клиенту