section(class=ClassCirclesSection)
	.container
		div(class=ClassCirclesSectionWrapper)
			h2(class=titleDefault__H2)
				span easeweb
				|   верстка
			div(class=ClassCirclesSectionInner)
				div(class=ClassCirclesSection__circleWrapper)
					div(class=ClassCirclesSection__circle)
						marquee(class=ClassCirclesSection__circleRunString1) HTML CSS JavaScript Python
						marquee(class=ClassCirclesSection__circleRunString2 direction="right") EASEWEB EASEWEB EASEWEB
					span(class=ClassCirclesSection__circleText) Backend
				div(class=ClassCirclesSection__circleWrapper)
					div(class=ClassCirclesSection__circle)
						marquee(class=ClassCirclesSection__circleRunString3) CRM CRM CRM CRM CRM
						marquee(class=ClassCirclesSection__circleRunString4 direction="right") EASEWEB EASEWEB EASEWEB
					span(class=ClassCirclesSection__circleText1) Tilda
