section(class=ClassCirclesSection)
	.container
		div(class=ClassCirclesSectionWrapper)
			h2(class=titleDefault__H2)
				span easeweb
				|   верстка
			div(class=ClassCirclesSectionInner)
				div(class=ClassCirclesSection__circle)
					p HTML CSS JavaScript Python
					p EASEWEB EASEWEB EASEWEB
					span(class=ClassCirclesSection__circleText) Backend
				div(class=ClassCirclesSection__circle)
					p CRM CRM CRM CRM CRM
					p EASEWEB EASEWEB EASEWEB
					span(class=ClassCirclesSection__circleText) Tilda
