footer(class=footer)
	hr(class=classmenuLine+ClassfooterLine)
	.container
		div(class=ClassfooterWrapper)
			div(class=ClassfooterInner)
				div(class=ClassfooterBlock)
					include ../../blocks/logo
					p(class=ClassfooterBlock__company)= footerMain.p1_1
				div(class=ClassfooterBlock)
					a(class=ClassfooterBlock__telephone href="tel:+79998062321")= footerMain.tel
					a(class=ClassfooterBlock__polite href="../../pages/polite.html")= footerMain.polite
			div(class=ClassfooterInner)
				nav(class=ClassNavListFooter)
					ul(class=ClassListFooter)
						li(class=ClassItemFooter)
							if mainPage
								a(class=ClassLinkFooter+ ' active' href="#")= footerMain.link__1
							else if anotherPage
								a(class=ClassLinkFooter href="../index.html")= footerMain.link__1
							else
								a(class=ClassLinkFooter href="../index.html")= footerMain.link__1
						li(class=ClassItemFooter)
							if seoPage
								a(class=ClassLinkFooter+ ' active' href="#")= footerMain.link__2
							else if anotherPage
								a(class=ClassLinkFooter href="seo.html")= footerMain.link__2
							else
								a(class=ClassLinkFooter href="pages/seo.html")= footerMain.link__2
						li(class=ClassItemFooter)
							if developPage
								a(class=ClassLinkFooter+ ' active' href="#")= footerMain.link__3
							else if anotherPage
								a(class=ClassLinkFooter href="develop.html")= footerMain.link__3
							else
								a(class=ClassLinkFooter href="pages/develop.html")= footerMain.link__3

						li(class=ClassItemFooter)
							if addTasksPage
								a(class=ClassLinkFooter+ ' active' href="#")= footerMain.link__4
							else if anotherPage
								a(class=ClassLinkFooter href="addtasks.html")= footerMain.link__4
							else
								a(class=ClassLinkFooter href="pages/addtasks.html")= footerMain.link__4
