head
	if mainPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="css/vendor.min.css")
		link(rel="stylesheet", href="css/styles.min.css")
		include favicon
		title= indexTitles.index
		//- <!-- Yandex.Metrika counter -->
		script
			include ../../../js/yandex-metrika.js
		//- <!-- /Yandex.Metrika counter -->
		//- <!-- Google Tag Manager -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-TYYYT3EGYF")
		script
			include ../../../js/google-analytics.js

	if developPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.develop
		//- <!-- Yandex.Metrika counter -->
		script
			include ../../../js/yandex-metrika.js
		//- <!-- /Yandex.Metrika counter -->
		//- <!-- Google Tag Manager -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-TYYYT3EGYF")
		script
			include ../../../js/google-analytics.js

	if seoPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")

		include favicon
		title= indexTitles.seo
		//- <!-- Yandex.Metrika counter -->
		script
			include ../../../js/yandex-metrika.js
		//- <!-- /Yandex.Metrika counter -->
		//- <!-- Google Tag Manager -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-TYYYT3EGYF")
		script
			include ../../../js/google-analytics.js

	if addTasksPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.addtasks
		//- <!-- Yandex.Metrika counter -->
		script
			include ../../../js/yandex-metrika.js
		//- <!-- /Yandex.Metrika counter -->
		//- <!-- Google Tag Manager -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-TYYYT3EGYF")
		script
			include ../../../js/google-analytics.js

	if politePage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.polite
		//- <!-- Yandex.Metrika counter -->
		script
			include ../../../js/yandex-metrika.js
		//- <!-- /Yandex.Metrika counter -->
		//- <!-- Google Tag Manager -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=G-TYYYT3EGYF")
		script
			include ../../../js/google-analytics.js
		//- <!-- Top.Mail.Ru counter -->
