head
	if mainPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="css/vendor.min.css")
		link(rel="stylesheet", href="css/styles.min.css")
		include favicon
		title= indexTitles.index

	if developPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.develop

	if seoPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		
		include favicon
		title= indexTitles.seo

	if addTasksPage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.addtasks

	if politePage
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords" content="создание продвижение сайтов программирование web веб студия вебстудия")
		meta(name="description" content="Easeweb - веб-студия полного цикла. Мы занимаемся разработкой и продвижением сайтов любой сложности. За нашими плечами более 5 лет опыта в сфере разработки и продвижения сайтов.")
		link(rel="stylesheet", href="../css/vendor.min.css")
		link(rel="stylesheet", href="../css/styles.min.css")
		include favicon
		title= indexTitles.polite