form(class=ClassintroSectionForm id=introFormID name=introFormName action=introSectionAdressPhp method=get)
    div(class=ClassintroSectionForm__Wrapper)
        div(class=ClassintroSectionForm__Inner)
            input(type="text" placeholder='Name' name='name' value='' required)
            input(type="tel" placeholder='Telephone' name='telephone' value='' required)
        button(class=ClassintroForm__button+colorTextBWhite type=submit id=introSubmit)= 'Проконсультироваться'