div(class=ClassintroSection__imageWrapper)
	if mainPage
		img(class=ClassintroSection__image src="/images/content/logoGif.gif", alt='image-logo-easeweb')
	if seoPage
		img(class=ClassintroSection__image src="/images/content/planeGif.gif", alt='image-plane')
	if developPage
		img(class=ClassintroSection__image src="/images/content/computer.png", alt='image-computer')
		img(class=ClassintroSection__image + ' anima' src="/images/content/zvetok.png", alt='image-plane')
		img(class=ClassintroSection__image + ' anima' src="/images/content/keyboard.png", alt='image-keyboard')