if mainPage
	div(class=ClassintroSection__imageWrapper)
		img(class=ClassintroSection__image src="/images/content/logoGif/logoGif1080x1080.gif", alt='image-logo-easeweb')
if seoPage
	div(class=ClassintroSection__imageWrapper + ' seoSectionimage')
		img(class=ClassintroSection__image, src="/images/content/planeGif/planeGif1080x1080.gif", alt='image-plane')
if developPage
	div(class=ClassintroSection__imageWrapper + ' seoSectionimage')
		img(class=ClassintroSection__image src="/images/content/computer.png", alt='image-computer')
		img(class=ClassintroSection__image + ' anima', src="/images/content/zvetok.png", alt='image-plane')
		img(class=ClassintroSection__image + ' anima', src="/images/content/keyboard.png", alt='image-keyboard')
if addTasksPage
	div(class=ClassintroSection__imageWrapper + ' addTasksImage')
		img(class=ClassintroSection__image src="/images/content/ruka.png", alt='image-site')