section(class=introSection)
	hr(class=classmenuLine)
	.container
		div(class=introSectionWrapper)
			h1(class=titleDefault__H1+ ' ' + ClassintroSection__H1+ ' ' +colorTextBlack)
				span= 'easeweb'
				br
				if mainPage
					span(class=ClassintroSection__h1__span3)= 'разработка сайтов'
					span(class=ClassintroSection__h1__span3)= 'продвижение'
				if developPage
					span(class=ClassintroSection__h1__span3)= 'разработка сайтов'
					span(class=ClassintroSection__h1__span3)= 'продвижение'
				if seoPage
					span(class=ClassintroSection__h1__span4)= 'Продвижение сайтов'
				if addTasksPage
					span(class=ClassintroSection__h1__span4+' right')
						| дополнительные
						br
						| задачи
				div(class=ClassintroSectionInner)
				include form
				include image
			if developPage
				div(class=ClassIntroSectionTexts)
					div(class=ClassIntroSectionTextsInner)
						h2(class=ClassIntroSectionText+ ' anima')
							|   Создание сайта
							br
							|   «под—ключ»
						h2(class=ClassIntroSectionText+ ' anima')= 'Редизайн'
						h2(class=ClassIntroSectionText+ ' anima')
							|   Поддержка
							br
							|   готового сайта
			if seoPage
				div(class=ClassIntroSectionTexts)
					div(class=ClassIntroSectionTextsInner)
						h2(class=ClassIntroSectionText + ' animaH2')
							|	Настройка рекламы